.domain-manager__wrapper {
  width: 300px;
  padding: 20px;
}

.domain-manager__domain-list li {
  padding: 3px 0px;
}

.domain-manager__domain-input {
  width: 70%;
  display: inline;
}

.domain-manager__domain-form-submit {
  width: 20%;
  display: inline;
}

.domain-manager__domain-remove {
  margin-left: 10px;
}
